body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  font-family: 'Cantarell', sans-serif;
}

/* .gnome-panel {
  position: fixed;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  height: 46px;
  width: 100%;
  justify-content: center;
}

.gnome-panel-clock {
  text-align: center;
  color: white;
  margin: 0;
} */

.wallpaper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* position: fixed; */
}

.stadium {
  height: 10px;
  background-color: gray; 
/*   position: fixed; */
  /* top: 10px; */
  border-radius: 50px/50px;
  transition: width 0.2s, background-color 0.2s, left 0.2s;
  cursor: pointer;
  /* i want to add padding between the dots */

}

.active {
  width: 40px; 
  background-color: white; 
  left: 10px; 
}

.inactive {
  width: 10px; 
  background-color: gray;
}

.gnome-panel {
  /* position: fixed;  */
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  height: 46px;
  width: 100%;
  /* justify-content: flex-start; */
  justify-content: space-between;
  /* gap: 3px; */
  /* padding-left: 10px; */
  
}
.animation-workspace {
  display: flex;
  gap: 3px;
  padding-left: 10px;
}

.gnome-panel-clock {
  padding-right: 10px ;
  color: white;
}


.download-link {
  position: fixed;
  bottom: 10px; 
  right: 10px; 
  text-align: center;
}


.download-link img {
  width: 150px;
  height: auto;
}


.download-link p {
  margin: 0;
  font-weight: bold;
  color: white;
  font-size: 20px;
  text-decoration: none; 
}

.linkedin-icon {
  position: fixed;
  bottom: 70px; 
  right: 110px; 
  width: 50px;
  height: 670px;
  cursor: pointer;
  z-index: 999; 

}

.linkedin-icon img {
  width: 150px;
  height: auto;
}

.gmail-icon {
  position: fixed;
  bottom: 70px; 
  right: 110px; 
  width: 50px;
  height: 540px;
  cursor: pointer;
  z-index: 999; 

}
.gmail-icon img {
  width: 127px;
  padding: 10px;
  height: auto;
}

.github-icon {
  position: fixed;
  bottom: 70px;
  right: 110px; 
  width: 50px;
  height: 401px;
  cursor: pointer;
  z-index: 999;

}

.github-icon img {
  width: 150px;
  height: auto;
}

.terminal-icon {
  position: fixed;
  bottom: 70px; 
  right: 110px; 
  width: 50px;
  height: 260px;
  cursor: pointer;
  z-index: 999;
}

.terminal-icon img {
  width: 150px;
  height: auto;
}


.custom-terminal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}


.terminal-header {
  background-color: #111;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
}


.close-button {
  cursor: pointer;
  position: relative;
}

.red-circle {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  top: 0;
  right: 0;
}


.terminal-content {
  padding: 10px;
  margin: auto;
}
